<div id="bot_wrapper">
  <a href="javascript:;" class="bot_close" ng-click="closeBotTest()">×</a>
  <div class="bot_center">
    <div class="bot_info">
      <p>Your store bot has been created.<br/>Try the following conversation in the chat box.</p>
      <div class="bot_info_tip">
        <span>Hi!</span>
      </div>
      <div class="bot_info_tip">
        <span>I want to buy a cat for my daughter. What do you suggest?</span>
      </div>
      <div class="bot_info_tip">
        <span>What payment options do you have?</span>
      </div>
      <div class="bot_info_tip">
        <span>If I order it today, do I expect to ship it on the same day?</span>
      </div>
      <p>You can onboard more data to increase bot's intelligence.</p>
    </div>
    <div id="bot">
      <header class="bot-head">
        <h2>OA Bot test</h2>
        <a href="javascript:;" class="bot-close" ng-click="closeBotTest()">×</a>
      </header>
      <main class="bot-main">
        <div class="bot-scroll">

        </div>
      </main>
      <footer class="bot-foot">
        <textarea></textarea>
      </footer>
    </div>
  </div>
</div>
